@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  /* background-color: #f6f6f6; */
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1629904853716-f0bc54eea481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.custom-font {
  font-family: "Reem Kufi", sans-serif;
}


@media (min-height: 600px) {
  .responsive-pt {
    padding-top: 1rem;
    /* pt-10 */
  }
}

@media (min-height: 700px) {
  .responsive-pt {
    padding-top: 6rem;
    /* pt-20 */
  }
}

@media (min-height: 800px) {
  .responsive-pt {
    padding-top: 7.5rem;
    /* pt-30 */
  }
}

@media (min-height: 900px) {
  .responsive-pt {
    padding-top: 10rem;
    /* pt-40 */
  }
}

@media (min-height: 1000px) {
  .responsive-pt {
    padding-top: 12.5rem;
    /* pt-50 */
  }
}


@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  /* button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  } */
}